body{
  margin: 0;
  padding: 0;

  background-color: #02010a;

  font-family: Dancing Script;

}

.contenido{
  margin: auto;

  width: 900px;
  height: 800px;

  background-color: rgb(183, 223, 244); /*quitarlo al final*/

}

.cabecera{
  width: 100%;
  height: 100px;
  margin: auto;


  background-color: #5b7989;
  color:white;

  border-radius:10px 10px 0 0 ;
  -moz-border-radius:10px 10px 0 0 ;
  -webkit-border-radius:10px 10px 0 0 ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecera p{
  text-shadow: 2px 2px #02010a;
  font-size: 2.5em;
  margin-left: 15px;
  /*background-color: rgb(208, 18, 193);*/
  float: left;

}

.cabecera ul {
  padding-right: 10px;
}

.cabecera ul li{
  list-style: none;
  float: left;
  margin: 15px;
  font-size: 1.5em;
  /*background-color: rgb(208, 18, 193);*/

}
.cabecera ul li a{
  color: white;

}
