*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
  font-family: Dancing Script;
  color:rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}

p{
  margin-top:  0;
}

.contenedor{
  width:100%;
  max-width: 900px;
  margin: auto;

  /*FLex*/
  display: flex;
  flex-direction: column;

}
/*-----------------------------HEADER-------------------------*/

header{
  background-color: #5b7989;
  width: 100%;
  padding: 20px;
  border-radius: 10px 10px 0 0;

  /*Flex*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
header .titulo p{
  font-size: 30px;
  text-shadow: 2px 2px #02010a;
}

nav{
  width: 30%;
  /*Flex*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav a{
  font-size: 1.3em;
  text-align: center;
  padding: 5px;
  /*background-color: rgb(10, 94, 15);*/

  /*Flex*/
  flex-grow: 1;
}
  /*------------------------IMG CENTRAL------------------------*/
section .galeria {
  background-color: #d5c75f;
  display: flex;
  flex-wrap: wrap;
}

section .galeria .images {
  margin: 1em;
  width: calc(33.33% - 2em);

}

section .images img{
  width: 100%;
}

/*------------------------FOOTER--------------------------------*/

footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 10px;

}

footer .contacto, .terminos,.redes, .derechos{
  width: 25%;
  flex-grow: 1;
  margin: 15px;
}

footer a{
    color:rgb(0, 0, 0);
}

.redes{
  display: flex;
  flex-direction: column;
}

.redes, .terminos, .contacto, .derechos{
  width: 100%;
  color:rgb(0, 0, 0);
  /*background-color: rgba(39, 124, 161, 0.37);*/
}
/*jorge cortes*/
